BasedOnStyle:                       LLVM
Standard:                           Cpp11
CommentPragmas:                     "^!|^:"
PointerBindsToType:                 false
SpaceAfterTemplateKeyword:          false
BreakBeforeBinaryOperators:         All
BreakBeforeBraces:                  Custom
BreakBeforeTernaryOperators:        true
BreakConstructorInitializers:       BeforeComma
ConstructorInitializerIndentWidth:  2
NamespaceIndentation:               None
AlignAfterOpenBracket:              true
AlwaysBreakTemplateDeclarations:    true
AllowShortFunctionsOnASingleLine:   Inline
SortIncludes:                       false
IndentCaseLabels:                   true
IndentPPDirectives:                 AfterHash
AccessModifierOffset:               -2
IndentWidth:                        2
ColumnLimit:                        80

BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false

ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH, forever, Q_FOREVER, QBENCHMARK, QBENCHMARK_ONCE ]
#StatementMacros ['Q_OBJECT', 'Q_UNUSED']


