[submodule "libs/QSimpleUpdater"]
	path = libs/QSimpleUpdater
	url = https://github.com/alex-spataru/QSimpleUpdater
[submodule "libs/qtcsv"]
	path = libs/qtcsv
	url = https://github.com/iamantony/qtcsv
[submodule "libs/qmqtt"]
	path = libs/qmqtt
	url = https://github.com/alex-spataru/qmqtt
