[submodule "libs/QSimpleUpdater"]
	path = libs/QSimpleUpdater
	url = https://github.com/alex-spataru/QSimpleUpdater
[submodule "libs/qtcsv"]
	path = libs/qtcsv
	url = https://github.com/iamantony/qtcsv
[submodule "doc/doxygen/doxygen-awesome-css"]
	path = doc/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "libs/qmqtt"]
	path = libs/qmqtt
	url = https://github.com/alex-spataru/qmqtt
