language: cpp
git:
  depth: 1
root: required
dist: xenial
env:
  - VERSION="1.2.0"
install:
- bash ci-scripts/$TRAVIS_OS_NAME/install.sh
script:
- bash ci-scripts/$TRAVIS_OS_NAME/build.sh
jobs:
  include:
  - os: osx
    osx_image: xcode10.1
  #- os: linux
  #  compiler: gcc
