[Desktop Entry]
Name=Serial Studio
Comment=Serial data processing & visualization software
Exec=serial-studio
Terminal=false
Type=Application
StartupNotify=true
Categories=Electronics;Engineering;Science;
Icon=serial-studio
