<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
 <string>Serial-Studio</string>
	<key>CFBundleGetInfoString</key>
 <string>Copyright © 2020-2024 Alex Spataru</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.alexspataru.serial-studio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Serial Studio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
  <string>3.0.4</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>False</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
        <string>Serial Studio uses Bluetooth LE to find, connect and transfer data between different devices</string>
</dict>
</plist>
