[Desktop Entry]
Name=Serial Studio
Comment=Multi-purpose data visualization & processing program
Exec=serial-studio
Terminal=false
Type=Application
StartupNotify=true
Categories=Electronics;Engineering;Science;
Icon=serial-studio
X-AppImage-Name=Serial Studio
X-AppImage-Version=3.0.4
X-AppImage-Arch=x86_64
