[Desktop Entry]
Name=Serial Studio
Comment=Flexible data visualization software for embedded devices and projects
Exec=serial-studio
Terminal=false
Type=Application
StartupNotify=true
Categories=Electronics;Engineering;Science;
Icon=serial-studio
X-AppImage-Name=Serial Studio
X-AppImage-Version=3.0.5
X-AppImage-Arch=x86_64
