*.o
*.swp
*.so
*.so.*
*.a
*.dylib
test/testcpp
test/bm_fftw_double
test/bm_fftw_float
test/bm_fftw_int16_t
test/bm_fftw_int32_t
test/bm_fftw_simd
test/bm_kiss_double
test/bm_kiss_float
test/bm_kiss_int16_t
test/bm_kiss_int32_t
test/bm_kiss_simd
test/st_double
test/st_float
test/st_int16_t
test/st_int32_t
test/st_simd
test/tkfc_double
test/tkfc_float
test/tkfc_int16_t
test/tkfc_int32_t
test/tkfc_simd
test/tr_double
test/tr_float
test/tr_int16_t
test/tr_int32_t
test/tr_simd
tools/fastconv_double
tools/fastconv_float
tools/fastconv_int16_t
tools/fastconv_int32_t
tools/fastconv_simd
tools/fastconvr_double
tools/fastconvr_float
tools/fastconvr_int16_t
tools/fastconvr_int32_t
tools/fastconvr_simd
tools/fft_double
tools/fft_float
tools/fft_int16_t
tools/fft_int32_t
tools/fft_simd
test/test_simd
build
